body {
  font-family: 'Oswald', sans-serif;
}

.navbar {
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100 !important;
  border-bottom: 1px solid #e6e6e6;
}

.navigation a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navbar-nav {
  font-size: 13px;
}

.navigation p {
  font-size: 17px;
  font-weight: bold;
}

.navigation a:hover {
  color: #b3b3b3;
}

.main-container {
  top: 0;
  text-align: center;
  z-index: -1;
  width: 100%;
  min-height: 800px;
  background-image: url("./images/navBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.danielareijs {
  text-align: center;
  background: white;
  opacity: 0.7;
  margin-top: 270px;
  color: black;
  padding: 50px;
  border: 2px solid white;
  font-weight: 300;
}

.danielareijs h1 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 50px;
}

.danielareijs p {
  font-size: 20px;
}

.main-content {
  width: 95%;
}

.container {
  margin-top: 70px;
}

h2 {
  font-size: 15px;
}

.selfie {
  width: 150px;
  border-radius: 30px;
}

.portfolioHeading {
  margin-top: 50px;
}

.portfolioLink {
  margin: 50px auto;
  font-size: 13px;
  width: 90%;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #b3b3b3;
  text-decoration: none;
}

footer p {
  font-size: 15px;
  font-weight: 700;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .danielareijs h1 {
    font-size: 30px;
  }

  .danielareijs p {
    font-size: 18px;
  }
}

@media screen and (min-width: 960px) {
  .w-lg-70 {
    max-width: 70%;
    margin: 0 auto;
  }
}
