.navigation {
  background-color: white;
  opacity: 0.5;
}

nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navbar-nav {
  font-size: 12px;
}

nav a:hover {
  color: gray;
}
